@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
html{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Inter', san-serif;
    color: #fff;
    background-color: #212121;
}
span{
    font-size: 30px;
    font-weight: bold;
}
.container{
    margin: 200px auto 100px;
    width: 50%;
    text-align: center;
}
#clock{
    margin-top: 50px;
    font-size: 100px;
    font-weight: bolder;
    background-color: rgb(225, 203, 161);
    padding: 30px 50px;
    border-radius: 30px;
}
@media (max-width: 700px) {
    span{
        font-size: xx-large
    }
    .container{
        margin: 200px auto 100px;
        width: 80%;
        text-align: center;
    }
    #clock{
        font-size: xx-large;
        padding: 25px
    }
}

@media (max-width: 400px) {
    span{
        font-size: x-large
    }
    .container{
        margin: 200px auto 100px;
        width: 80%;
        text-align: center;
    }
    #clock{
        font-size: x-large;
        padding: 25px
    }
}
